@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: clamp(16px, 4vw, 32px);
  font-family: Michroma, Verdana, Tahoma, sans-serif;
}

.titulo {
  text-align: center;
  margin: 48px;
}

.total-favoritos {
  background-color: red;
  color: white;
  border-radius: 8px;
}

.icono-container {
  position: relative;
}

.item-cantidad {
  position: absolute;
}

.seccion-favs {
  border: 2px solid black;
  background-color: rgb(198, 197, 197);
}

.contenedor-producto {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 24px;
}

.flex-favs {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
  padding: 8px;
}

.icono-del:hover + .hide {
  display: block;
  color: red;
  font-size: 16px;
  border: 2px solid red;
  background-color: #fff;
  border-radius: 8px;
  margin: 24px;
}
.card {
  border: 2px solid black;
  border-radius: 8px;
  padding: 24px;
  overflow-wrap: break-word;
}
.card-fav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  border: 2px solid black;
  border-radius: 8px;
  overflow-wrap: break-word;
  padding: 12px;
  font-size: clamp(16px, 4vw, 32px);
}

.card-fav img {
  width: 100px;
  height: 100px;
}

.fav {
  background-color: #fff;
}

.nombre {
  height: 48px;
}
.precio {
  color: darkgreen;
  background-color: rgb(175, 237, 175);
  text-align: center;
}

.precio-total {
  border: 2px solid white;
  border-radius: 8px;
  color: darkgreen;
  margin: 24px;
  padding: 12px;
}

.botonera {
  text-align: center;
  margin-top: 24px;
}

.btn-add, .btn-del {
  font-size: 24px;
  padding: 8px;
  border-radius: 8px;
  font-family: Michroma, Verdana, Tahoma, sans-serif;
}

.btn-del:hover {
  font-size: 26px;
  border: solid 2px red;
  color: red;
}

.btn-add:hover {
  font-size: 26px;
  border: solid 2px green;
  color: green;
}

.seccion-favs {
  margin: 48px;
}

.contenedor-favoritos {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 32px;
}

.icono-container {
  position: relative;
}

.icono-cart {
  text-align: right;
}

#item_cantidad {
  position: absolute;
  top: 0;
  right: 20px; /* Ajusta la posición horizontal */
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}

/*MQ celulares*/
@media screen and (240px <= width <= 960px) {
  .imagen {
    width: 200px;
    height: 200px;
  }
  .contenedor-producto {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 250px;
    text-align: center;
  }
  .card-fav {
    flex-direction: column;
    font-size: 24px;
  }
}

/*MQ Tablets*/
@media screen and (min-width: 960.1px) {
  .imagen {
    width: 300px;
    height: 300px;
  }
  .contenedor-productos {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 400px;
  }
}